In [ ]:
#Assignment 1 Task 3
import pandas as pd
#Excel file
data_excel = pd.read_excel('/content/dataset.xlsx')
print(data_excel)

       name  age  height  weight
0   rithwik   19     145      46
1    vishal   21     151      50
2    harsha   25     170      76
3    ramesh   30     163      61
4    pranav   18     170      50
5  thrishal   31     160      70
6     dixit   27     152      60
7    vamshi   21     170      34
8    kushal   23     156      43

In [ ]:
#CSV file
data_csv = pd.read_csv('/content/dataset.csv')
print(data_csv)

       name  age  height  weight
0   rithwik   19     145      46
1    vishal   21     151      50
2    harsha   25     170      76
3    ramesh   30     163      61
4    pranav   18     170      50
5  thrishal   31     160      70
6     dixit   27     152      60
7    vamshi   21     170      34
8    kushal   23     156      43

In [ ]:
#TSV file(Tab-separated values)
data_tsv = pd.read_csv('/content/dataset.tsv', sep='\t')
print(data_tsv)

  name        age height weight
0  rithwik     20   156      55
1  vishal      21   151      50
2  harsha      25   170      76
3  ramesh      30   163      61
4  pranav      18   170      50
5  thrishal    31   160      70
6  dixit       27   152      60
7  vamshi      21   170      34
8  kushal      23   156      43

In [ ]:
#Read data from URL
url = 'https://raw.githubusercontent.com/RithwikYathamshetty/AI-ML-32/main/dataset.csv'
df_url = pd.read_csv(url)
print("\nData from URL:")
print(df_url)

Data from URL:
       name  age  height  weight
0   rithwik   19     145      46
1    vishal   21     151      50
2    harsha   25     170      76
3    ramesh   30     163      61
4    pranav   18     170      50
5  thrishal   31     160      70
6     dixit   27     152      60
7    vamshi   21     170      34
8    kushal   23     156      43