In [ ]:
#Assignment 1 Task 1
import numpy as np
import pandas as pd
l1 = [1, 2, 3, 4, 5]
l2 = [6, 7, 8, 9, 10]
arr1 = np.array(l1)
arr2 = np.array(l2)
print("Type of l1:", type(l1))
print("Type of arr1:", type(arr1))

Type of l1: <class 'list'>
Type of arr1: <class 'numpy.ndarray'>

In [ ]:
result_mul = arr1 * arr2
result_div = arr1 / arr2
result_pow = arr1 ** arr2
print("Multiplication Result:", result_mul)
print("Division Result:", result_div)
print("Power Result:", result_pow)

Multiplication Result: [ 6 14 24 36 50]
Division Result: [0.16666667 0.28571429 0.375      0.44444444 0.5       ]
Power Result: [      1     128    6561  262144 9765625]

In [ ]:
# Combine text with NumPy function
text_output = np.char.add("Addition of Two: ", np.char.add(str(arr1), str(arr2)))
print(text_output)

Addition of Two: [1 2 3 4 5][ 6  7  8  9 10]

In [ ]:
# NumPy functions
sin_vals = np.sin(arr1)
log_vals = np.log(arr1)
log2_vals = np.log2(arr1)
exp_vals = np.exp(arr1)
print("sin(arr1):", sin_vals)
print("log(arr1):", log_vals)
print("log2(arr1):", log2_vals)
print("exp(arr1):", exp_vals)

sin(arr1): [ 0.84147098  0.90929743  0.14112001 -0.7568025  -0.95892427]
log(arr1): [0.         0.69314718 1.09861229 1.38629436 1.60943791]
log2(arr1): [0.         1.         1.5849625  2.         2.32192809]
exp(arr1): [  2.71828183   7.3890561   20.08553692  54.59815003 148.4131591 ]

In [ ]:
# Creating DataFrames using Pandas
df = pd.DataFrame({'c1': arr1, 'c2': arr2})
print("\nDataFrame:")
print(df)

DataFrame:
   c1  c2
0   1   6
1   2   7
2   3   8
3   4   9
4   5  10